---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Container from "@/components/Container.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import BlogList from "@/components/BlogList.astro";
---

<Layout title="Blog - Elementary Astro">
	<Section>
		<Container>
			<SectionHeading>
				<h1 class="text-4xl font-bold tracking-wide">School News & Updates 📰</h1>
				<p>Stay up to date with announcements, events, holidays, and PTA news.</p>
			</SectionHeading>

			<BlogList />
		</Container>
	</Section>
</Layout>
