---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Container from "@/components/Container.astro";
import MainHeading from "@/components/MainHeading.astro";
import Button from "@/components/buttons/Button.astro";
import Video from "@/components/Video.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import InfoCards from "@/components/InfoCards.astro";
import Stats from "@/components/Stats.astro";
import ProgramCards from "@/components/ProgramCards.astro";
import Agenda from "@/components/Agenda.astro";
import Testimonials from "@/components/Testimonials.astro";
import FormNewsletter from "@/components/forms/FormNewsletter.astro";
import Faq from "@/components/Faq.astro";

const base = import.meta.env.BASE_URL;
---

<Layout title="Holtman Lab">
	<Section class="relative">
		<img
			class="absolute inset-0 object-cover object-top w-full h-full z-0"
			src={`${base}brainfrontpage.jpeg`}
			alt="Brain front page"
		/>

		<Container class:list={"relative z-20"}>
			<MainHeading>
				<h1 class="text-5xl font-bold tracking-wide">Welcome to the Holtman Lab</h1>

				<p>
					Most brain disorders, including mental illnesses and neurodegenerative, are difficult to diagnose and study due to considerable heterogeneity, which is often overlooked. The Holtman lab, part of the University Medical Center Groningen, established the Netherlands Neurogenomics Database in collaboration with the Netherlands Brain Bank to study this heterogeneity.
				</p>

				<div class="flex flex-wrap gap-4 justify-center md:justify-start">
					<Button href="https://nnd.academy/" variant="blue">Visit NND</Button>
				</div>
			</MainHeading>
		</Container>
	</Section>

	<Section>
		<Container>
			<SectionHeading>
				<h2 class="text-4xl font-bold tracking-wide">Latest news</h2>
			</SectionHeading>

			<InfoCards />
		</Container>
	</Section>

	<Section class:list={"bg-neutral-50"} id="about">
		<Container>
		<SectionHeading>
			<h2 class="text-4xl font-bold tracking-wide">Our Group</h2>
		</SectionHeading>
		
		<img
			class="mt-8 w-full max-w-3xl mx-auto h-auto rounded-xl object-cover"
			src={`${base}grouppic3.jpg`}
			alt="Our group visual"
		/>
	</Container>
	</Section>

</Layout>
