---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Container from "@/components/Container.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import TeachersList from "@/components/Researchers.astro";
---

<Layout title="Teachers - Elementary">
	<Section>
		<Container>
			<SectionHeading>
				<h1 class="text-4xl font-bold">Meet Our researchers</h1>
				<p>Our dedicated team of researchers each with their own unique skillset</p>
			</SectionHeading>

            <TeachersList />
		</Container>
	</Section>
</Layout>
